/* GENERAL STYLING */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #fbfafa;
    color: #333;
}

/* HEADER */
header {
    background-color: #002345; /* dark blue */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 15px 0;
    font-size: 1.2em;
}



/* NAVIGATION */
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

/* SECTIONS (hero section) */
.hero{
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url('team.jpg');

    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
   
}
.hero-content{
    max-width:800px;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    z-index: 2;
    transform: translate(-50%,-50%);

}

/*containers*/
div{
    padding: 30px 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: #dccdcd;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

div h2 {
    color: #004080;
}

/* LINKS IN SECTIONS */
div a {
    color:orange;
    font-weight: bold;
    text-decoration: none;
}

div a:hover {
    text-decoration: underline;
}
div:hover {
    transform: translateY(-12px);


}

/* LISTS */
ul {
    list-style-type: square;
    padding-left: 20px;
}

/* FOOTER */
footer {
    background-color: #002345;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 5px 0;
}
/*div.flex-services {
    display: flex;
    /* Show the flex items horizontally 
    flex-direction: row;
  }
  
  div.flex-choice > div {
    margin: 10px;
  }
  
  /* Use media query and show the flex items vertically if screen width is less than 600px 
  @media screen and (max-width:600px) {
    div.flex-plan {
      flex-direction: column;
    }
  }*/

  div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  div.gallery-item {
    margin: 5px;
    
    width: 250px;
  }
  
  div.gallery-item:hover {
    border: 1px solid #777;
  }
  
  div.gallery-item img {
    width: 100%;
    height: auto;
  }
  
  div.gallery-item div.desc {
    padding: 15px;
    text-align: center;
  }
  form {
      margin: 40px;
      
  }
  input [type="text"],
  input [type="email"],
  textarea {
      display: block;
      padding: 10;
      width: 80;
      font-family: monospace;
      text-transform: uppercase;

  }
